/* media queries */
/* extra large screens */
@media screen and (max-width: 1260px) {
    .row {
      min-height: 400px;
    }
    .card{
        width: 20%;
    }
    .sub_title{
        margin-bottom: 10px;
    }
  }

  /* medium screens */
  @media screen and (max-width: 1024px) {
      /* contenuto playlist */
    .row {
      min-height: 300px;
    }
    .card{
        width: 30%;
    }
    .sub_title{
        margin-bottom: 10px;
    }
    /* barra di navigazione */
    #nav_playlist ul li{
        margin-right: 25px;
    }
    /* footer */
    footer{
       justify-content: space-between;
    }

    .song{
       width: 25%;
       justify-content: space-between;
    }

    .like_song{
        width: 15%;
    }

    .option{
        width: 25%;
    }

    #option_sound li a{
        font-size: 20px;

    }

    #volume_bar{
        width: 80px;
    }

  }
   /* small screens */
  @media screen and (max-width: 964px) {
    /* contenuto playlist */
  .row {
    min-height: 300px;
  }
  .card{
      width: 40%;
  }
  .sub_title{
      margin-bottom: 10px;
  }
  /* barra di navigazione */
  #nav_playlist ul li{
      margin-right: 25px;
      margin-bottom: 10px;
  }
  /* footer */
  footer{
     justify-content: space-between;
  }

  .song{
     width: 25%;
     justify-content: space-between;
  }
  .song_container img{
      width: 50px;
      height: 50px;
  }

  .like_song{
      width: 5%;
  }
  #playback li a{
      font-size: 25px;
  }

  #sound_bar{
      width: 250px;
  }

  .option{
      width: 25%;
  }

  #option_sound li a{
      font-size: 20px;

  }

  #volume_bar{
      min-width: 80px;
  }

}

/* extra small */
@media screen and (max-width: 764px) {
    /* classi generali */
  
    /* barra di navigazione destra */
    #app_left{
        width: 50px;
    }
    /* logo */
    .logo{
        padding: 10px;
    }

    #logo{
        display: none;
    }
    #small_logo{
        display: block;
        width: 30px;
        margin-bottom: 10px;
    }
    /* navigazione app */
    #playlist{
        display: none;
    }


    #nav_app li{
        text-align: center;
    }

    .ghost{
        display: none;
    }

    /* profilo utente */
    .container_user{
        font-size: 25px;
    }

    .container_user a{
        text-align: center;
        font-size: 25px;
    }


    /* contenuto playlist */
    #app_right{
        width: calc( 100vw - 50px );
    }

    .top_bar{
        width: calc( 100vw - 50px );
    }

  .row {
    min-height: 300px;
  }
  .card{
      width: 45%;
  }
  .sub_title{
      margin-bottom: 10px;
  }
  /* barra di navigazione */
  #nav_playlist ul li{
      margin-right: 25px;
      margin-bottom: 10px;
  }

 
  /* footer */
  footer{
     justify-content: space-between;
  }

  .song{
     width: 20%;
     justify-content: space-between;
  }
  .song_container img{
      display: none;
  }

  .like_song{
      width: 5%;
  }
  #playback li a{
      font-size: 25px;
  }

  #sound_bar{
      width: 250px;
  }

  .option{
      width: 25%;
  }
  #option_sound{
      display: block;
  }

  #option_sound li a{
      font-size: 20px;

  }

  #volume_bar{
      min-width: 80px;
  }

}

/* media query altezza */
@media screen and (max-height: 860px) {
 
    #playlist ul{
        width: 100%;
        height: 300px;
        overflow: auto;
    }
    
    footer{
        position: fixed;
        z-index: 30;
    }


}