@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: ‘Montserrat’, sans-serif;
    
}
/* classi generali */
/* contenitore tondo */
.circle{
    border-radius: 100%;
}

.icon{
    margin-right: 10px;
}

a:hover{
    color: white;
}
/* classe fantasma */
.ghost{
    display: inline;
}

/* stilizazzione del corpo */
#app_container{
    width: 100vw;
    display: flex;
    /* debugger */
    background-color: #141922;
    
}

/* parte di sinistra con menu*/

#app_left{
    width: 300px;
    height: calc( 100vh - 150px);
     /* debugger */
    background-color: #080b1283;
    position: relative;
}

/* logo */
.logo{
    width: 80%;
    padding: 20px;
}

#small_logo{
    display: none;
}

/* navigazione app */
#nav_app{
    width: 90%;
    margin: 0 auto;
    
}

#nav_app li{
    margin-bottom: 20px;
}

#nav_app li a{
    text-decoration: none;
}

#nav_app li a:hover{
    color: white;
}

/* lista playlist */
#playlist{
    width: 90%;
    margin: 0 auto;
}

#playlist h3{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}
#playlist li{
    margin-bottom: 20px;
}

#playlist li a{
    text-decoration: none;
   
}

#playlist li a:hover{
    color: white;
}

/* profilo utente */
#profilo_utente{
    width: 100%;
    min-height: 100px;
    background-color: #080b12;
    position: absolute;
    bottom: 0;
}

.container_user{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
}



 .container_user a{
    margin-bottom: 10px;
    text-decoration: none;
}

.user{
    color: white;
    margin: 10px 0;
}


/* parte di destra con contenuti*/

#app_right{
    width: calc( 100vw - 300px );
    height: calc( 100vh - 150px);
    overflow: scroll;
     /* debugger */
    
}

/* contenitore bottone per upgrade */
.top_bar{
    width: calc( 100vw - 300px );
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    z-index: 20;
    /* debugger */
    background-color: #080b1283;
}

.button_top{
    display: inline-block;
    min-width: 200px;
    height: 50px;
    border: 1px solid white;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    color: white;
    line-height: 50px;
    margin-right: 10px; 
}

.button_top:hover{
   width: 250px;
   height: 60px; 
   line-height: 60px;
}
/* contenitore */
.container{
    margin-top: 150px;
}

/* navigazione playlist */
#nav_playlist{
  width: 100%;
  min-height: 50px;
  
}

#nav_playlist ul{
    min-height: 50px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

#nav_playlist ul li{
    margin-right: 20px;
    text-align: center;
       
}

#nav_playlist ul li a{
    display: inline-block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.549);
    font-weight: 700;
}

#nav_playlist ul li a:hover{
    color: white;
}

.effetto_hover{
    display: none;
    width: 25%;
    height: 2px;
    background-color: greenyellow;
    margin: 0 auto;
}

#nav_playlist ul li a:hover .effetto_hover{
    display: block;
}

/* stile contenuto */
/* titolo contenuto */

.row_title{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;

}

.title{
    color: white;
    font-size: 40px;
}

/* stile card */
.row{
    width: 90%;  
    margin: 0 auto;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    
}

.card{
    width: 15%;
    /* min-height: 400px; */
    margin-right: 20px;

}
/* immagine */

.card_image{
    width: 100%;
    /* height: 70%; */
    position: relative;
 

}

.card_image .filter{
   width: 100%;
   height: 100%;
}

.play_img{
width: 80px;
height: 80px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: -1;
}

.card_image:hover .play_img{
    z-index: 1;
}

.card_image:hover .filter{
  filter: grayscale(60%);
}




/* titolo card */
.card_title{
    /* height: 30%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
    
}

.card_title h3{
    color: white;
    font-size: 25px;

}

.sub_title{
    color: rgba(255, 255, 255, 0.549);
    font-size: 20px;
    margin-top: 10px;
}








/* stilizazzione player */

footer{
    width: 100vw;
    height: 150px;
     /* debugger */
     background-color: #282828;
     display: flex;
     
}
/* song */
.song{
/* debug */
width: 30%;
max-height: 100%;
display: flex;
align-items: center;

}

.song_container{
width: 70%;
height: 50%;
margin-left: 10px;
display: flex;
align-items: center;


}

.song_container img{
 height: 100%;
 margin-right: 20px;
}

.name_song h3{
    color: white;
}

.like_song{
  width: 30%;
}

/* player */
.player{
width: 40%;
max-height: 100%;
display: flex;
flex-direction: column;
justify-content: center;

}

/* comandi suono */
#playback {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

}

#playback li{
    list-style-type: none;
}

#playback li a{
 display: inline-block;
 color: white;
 font-size: 30px;
}

/* barra canzoni con tempo */
#time_song{
    display: flex;
    justify-content: space-between;
   
}

.time{
    color: white;
    font-size: 20px;
}

#sound_bar{
    width: 80%;
    height: 10px;
    background-color: #5A5A5A;
    border-radius: 20px;
}

.song_listened{
    width: 30%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
}

/* impostazioni suono */

.option{
/* debug */
width: 30%;
max-height: 100%;
display: flex;
align-items: center;
justify-content: end;


}

#option_sound{
    display: flex;
   
}

#option_sound li{
    list-style-type: none;
}

#option_sound li a{
    display: inline-block;
    color: white;
    font-size: 30px;
   }

   #volume_bar{
    width: 40%;
    height: 10px;
    background-color: #5A5A5A;
    border-radius: 20px;
    margin: 0 20px;
   }